@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.screenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: #1c1b1b;
  width: 100vw;
}

.chances {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 320px;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  margin-top: 2em;
}

.result{
  color: transparent;
  font-family: 'Kanit', sans-serif;
  transition: color 0.15s ease-in;
  margin-top: 1em;
}
